export(OptSig.F, OptSig.Boot, OptSig.BootWeight, OptSig.Weight,R.OLS,OptSig.2p2n,OptSig.anova,Opt.sig.norm.test,OptSig.p,OptSig.r,Opt.sig.t.test,OptSig.t2n,OptSig.2p,OptSig.Chisq,Power.Chisq,Power.F) 
importFrom("graphics", "abline", "plot", "points", "polygon","par")
importFrom("stats", "cov", "df", "pf", "pt", "qf", "dnorm", "quantile","density", "runif", "qchisq", "dchisq", "pchisq","pnorm","qnorm","qt")
importFrom("utils", "tail")
importFrom("pwr","pwr.2p.test","pwr.2p2n.test","pwr.anova.test","pwr.chisq.test","pwr.norm.test","pwr.t.test","pwr.t2n.test","pwr.r.test","pwr.p.test")